{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}

{% block body %}

<div class="" style="top: -54px!important;">
    <img src="{{ asset('/illustrations/background_homepage2.2_miroir.svg')}}" alt="" style="position: absolute;">
    <div class="d-flex col-md-10 mx-auto flex-row justify-content-between pt-5" style="position: relative; z-index: 10!important;">
        <div class="col-md-6 pt-5 text-white mt-5">
            <h2 class="mb-2">Evaluez vos façons de faire !</h2>
            <p>Bienvenue !</p>
            <p>
                Vous allez aujourd’hui auto-évaluer vos styles managériaux grâce au diagnostic BMCF-B. 
            </p>
            <p>
                Conçu à partir des travaux de R. Blake et J. Mouton sur les styles de management, repris ensuite par le psychosociologue D. Chalvin, puis développé par D. Foucher et C. Batal, ce diagnostic vous permet d’obtenir un positionnement sur huit styles de management que vous approfondirez en formation. 
            </p>
            <p>
                Nous vous proposons de l’utiliser comme un outil pour évaluer l’évolution des vos pratiques managériales sur les prochaines semaines.
                Très bonne auto-évaluation et rendez-vous à la fin du parcours !
            </p>
            <div class="col-md-4 pl-0 mt-4">
                <a href="{{ path('questionnaire_show', {'slug': 'bdf'}) }}" 
                class="btn bg-white ligh-purple text-center font-weight-bold w-100 py-2 px-3 ml-0">Démarrer</a>
            </div>
        </div>

        <div class="mt-5 pt-5">
            <img src="{{ asset('/illustrations/transparent_blue/team_meeting.svg') }}" alt="" style="width: 130%;">
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.addEventListener("DOMContentLoaded", (event) => {
            $( "body" ).removeClass( "pt54" );
        });
    </script>
{% endblock %}