<nav class="navbar navbar-dark bg-white fixed-top d-print-none mx-auto mt-3 roundedNavbar" 
style="
max-width:95%!important; 
border-radius: 50px;
box-shadow: 0px 20px 40px rgb(18 34 64 / 10%);
">
    <a class="navbar-brand font_logo ml-3 text-dark font-weight-bold" href="{{ path('home') }}">BMCFB</a>

    <div class="mr-3">

        <ul class="navbar-nav ml-auto">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item mr-3">
                    {% if topic is defined and topic is not null %}
                        <a href="{{ path('questionnaire_show', {'slug': topic.questionnaire.slug}) }}" class="nav-link btn-light text-dark text-center" style="border-radius: 20px;">Sauvegarder et quitter</a>
                    {% endif %}
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link text-dark d-none d-md-block" href="{{ path('user_profile') }}"><i class="fas fa-user-circle fa-fw mr-1"></i>Mon compte</a>
                    <a class="nav-link text-dark d-md-none d-block" href="{{ path('user_profile') }}"><i class="fas fa-user-circle fa-fw mr-1"></i></a>
                </li>

                {% if is_granted('ROLE_COACH') %}
                    <li class="nav-item mr-3">
                        <a class="nav-link text-dark d-none d-md-block" href="{{ path('coach_index') }}"><i class="fas fa-tools fa-fw mr-1"></i>Administration</a>
                        <a class="nav-link text-dark d-md-none d-block" href="{{ path('coach_index') }}"><i class="fas fa-tools fa-fw mr-1"></i></a>
                    </li>
                {% endif %}

                <li class="nav-item mr-3">
                    <a class="nav-link text-dark d-none d-md-block" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt fa-fw mr-1"></i>Se déconnecter</a>
                    <a class="nav-link text-dark d-md-none d-block" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt fa-fw mr-1"></i></a>
                </li>

            {% else %}
                <li class="nav-item text-dark">
                    <a class="nav-link text-dark d-none d-md-block" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt fa-fw mr-1"></i>Connexion</a>
                    <a class="nav-link text-dark d-md-none d-block" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt fa-fw mr-1"></i></a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>