{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Administration {% endblock %}

{% block body %}

    <div class="container-fluid">
        {{ include('_alert.html.twig') }}
        <div class="col-md-10 mx-auto my-5">
            <div class="d-flex row justify-content-between">
                <h2 class="medium-gray">LES QUESTIONNAIRES DISPONIBLES :</h2>
                <a href="" class="btn bg-light-purple text-white font-weight-bold disabled">En ajouter un </a>
            </div>
            <hr>

            {% if is_granted('ROLE_ADMIN') %}
                <div class="fixed-btn px-3">
                    <a class="medium-blue" href="/admin/easyadmin"><i class="fas fa-cogs" aria-hidden="true"></i></a>
                </div>
            {% endif %}

            {% if questionnaires is defined and questionnaires is not null %}
                <div class="d-flex align-items-stretch mb-5 pt-5">
                    {% for questionnaire in questionnaires %}

                    <div class="col-md-4 card mr-4 px-0">
                        <a href="{{ path('questionnaire_edit', {'id': questionnaire.id}) }}" class="text-right medium-blue" style="position: absolute; top:10px; z-index: 100; right:5px;"><i class="fas fa-cog"></i></a>
                        <a href="{{ path('questionnaire_duplicate', {'id': questionnaire.id}) }}" class="text-left medium-blue" style="position: absolute; top:10px; z-index: 100; left:5px;"><i class="far fa-copy"></i></a>
                        <img class="card-img-top" src="https://picsum.photos/300/100" alt="Card image cap" style="position: relative;">
                        <div class="card-body">
                            <h5 class="card-title">{{ questionnaire.name }}</h5>
                            <p class="card-text">{{ questionnaire.summary|length > '130'? questionnaire.summary|slice(0, 130)~'..': questionnaire.summary }}</p>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between">
                                {% if questionnaire.slug is defined and questionnaire.slug is not null %}
                                    <small class=""><a class="medium-blue" href="{{ path('questionnaire_show', {'slug': questionnaire.slug}) }}">Voir le questionnaire</a></small>
                                {% endif %}
                                <small class=""><a class="medium-blue" href="{{ path('coach_results', {'id': questionnaire.id}) }}">Voir les résultats</a></small>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            {% else %}
                <div class="text-center my-5 pt-5">
                    <img src="{{ asset('/img/searching.svg')}}" alt="">
                    <h3 style="color:rgb(64, 64, 61) ">Aucun résultat n'a été trouvé !</h3>
                    <span>Créez en un dès maintenant en cliquant <a href="">ici</a></span>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
