{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Bilan {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" />
{% endblock %}

{% block body %}

    <div class="container-fluid">
        {{ include('_alert.html.twig') }}
        <div class="col-md-10 mx-auto">

            <div class="chart-container mb-5" style="position: relative; height:60vh; width:80vw">
                <canvas class="" id="profilesChart"></canvas>
            </div>

            <div class="chart-container mb-5" style="position: relative; height:60vh; width:80vw">
                <canvas class="" id="axisChart"></canvas>
            </div>

            <hr>

            <div class="row bilan_footer">
                <div class="col-md-7 mt-3">
                    <p><strong>Vos résultats sont enregistrés</strong> si vous souhaitez y revenir ultérieurement. Vous pourrez
                        également refaire le test plus tard, et ainsi auto-évaluer votre progression. L'explication de vos résultats vous sera donnée lors de votre entretien.</p>
                </div>
            
                <div class="col-md-5 text-right mt-3">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" disabled> Envoi par mail </button>
                    
                    <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle"><b>Envoi par mail</b></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p style="text-align: justify;">
                                        En confirmant, votre bilan vous sera envoyé à l'adresse email suivante : <strong>{{ user.email }}</strong> et vos données seront ensuite supprimées conformément à la réglementation sur les données personnelles du Règlement Général sur la Protection des Données (RGPD).
                                        <br/>Si toutefois vous souhaitez recevoir ce bilan sur une adresse email autre que celle indiquée, nous vous invitons à la modifier en accédant à l'espace "Mon compte" ou en cliquant sur le lien ci dessous.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a href="" class="btn btn-primary" role="button">Envoyer</a>
                                    <a href="{{ path('user_profile') }}" class="btn btn-primary" role="button">Modifier son email</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:window.print();" class="btn btn-primary">Imprimer cette page</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %} 
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js" integrity="sha512-9hzM/Gfa9KP1hSBlq3/zyNF/dfbcjAYwUTBWYX+xi8fzfAPHL3ILwS1ci0CTVeuXTGkRAWgRMZZwtSNV7P+nfw==" crossorigin="anonymous"></script>

    <script name="profilesChart">
        var ctx = document.getElementById('profilesChart');
        var myChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: {{ profileNames|raw }},
                datasets: [{
                    label: "Total du score",
                    backgroundColor: "#c45850", 
                    data: {{ profileRates|raw }},
                    }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: { display: false },
                title: {
                    display: true,
                    text: 'Résultats Styles de Management',
                    fontSize: 35,
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: true,
                            max: 36,
                            stepSize: 4,
                        },
                    }]
                },
                annotation: {
                    drawTime: 'afterDatasetsDraw',
                    annotations: [{
                        type: 'line',
                        mode: 'vertical',
                        scaleID: 'x-axis-0',
                        value: 18,
                        borderColor: 'red',
                        borderWidth: 5,
                        borderDash: [4,4],
                        label: {
                            enabled: true,
                            position: "top",
                            content: "Moyenne théorique"
                        }
                    },
                    {
                        type: 'line',
                        mode: 'vertical',
                        scaleID: 'x-axis-0',
                        value: {{ average|raw|round }},
                        borderColor: 'blue',
                        borderWidth: 5,
                        borderDash: [4,4],
                        label: {
                            enabled: true,
                            position: "bottom",
                            content: "Moyenne personnelle"
                        }  
                    }]
                }
            }
        });

    </script>
    
    <script name="axisChart">

        var ctx2 = document.getElementById('axisChart');
        var myChart = new Chart(ctx2, {
            type: 'polarArea',
            data: {
                labels: {{ axisNames|raw }},
                datasets: [{
                    label: "Population (millions)",
                    backgroundColor: ["rgb(255, 99, 132)","rgb(75, 192, 192)","rgb(255, 205, 86)","rgb(201, 203, 207)","rgb(54, 162, 235"],
                    data: {{ axisRates|raw }},
                    }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display : true,
                    text: 'Moyenne des différents axes de management',
                    fontSize: 35,
                }
            }
        });

    </script>
{% endblock %}