{#
<div class="col-md-11 mx-auto" style="margin-top: 5%;">
    {{ include('_alert.html.twig') }}
    
    <div class="text-center">
        <h2 class="my-4">Vous avez déjà démarré le questionnaire !</h2>
        <span class="text-muted">Vous pouvez reprendre le questionnaire là où vous l'avez laissé ou bien recommencer ! Que souhaitez-vous faire ?</span>

        <div class="d-flex flex-row justify-content-center mx-auto mt-5 pt-2">                    
            <a href="{{ path('questionnaire_play', {'id': next.id}) }}" class="btn bg-light-purple font-weight-bold py-2 px-4 text-white">Continuer !</a>
            <a href="{{ path('questionnaire_reset', {'slug': questionnaire.slug }) }}" class="btn btn-outline-medium-pink font-weight-bold py-2 px-4">Supprimer vos résultats et recommencer</a>
        </div>
    </div>
    
    <div class="d-flex mx-auto justify-content-center">
        <div class="d-flex flex-row justify-content-center align-items-end" style="bottom: 0px; position: fixed;">
            <img src="{{ asset('/illustrations/progress_indicator.svg') }}" class="img-fluid" style="max-width: 50%;">
            {# <img src="{{ asset('/illustrations/work_time.svg') }}" class="img-fluid" style="max-width: 35%;"> #}
            {#
        </div>
    </div>
</div>
#}

<div class="d-flex col-md-11 justify-content-between mx-auto" style="margin-top: 5%;">

    {{ include('_alert.html.twig') }}

    <div class="col-md-6 pt-5 medium-gray content_div">
        <h2 class="mb-4">Vous avez déjà démarré le questionnaire !</h2>
        <span class="text-muted">Vous pouvez reprendre le questionnaire là où vous l'avez laissé ou bien recommencer ! Que souhaitez-vous faire ?</span>
        <div class="d-flex flex-row justify-content-start mx-auto mt-5">
            <a href="{{ path('questionnaire_play', {'id': next.id}) }}" class="btn bg-light-purple font-weight-bold py-2 px-4 text-white ml-0">Continuer !</a>
            <a href="{{ path('questionnaire_reset', {'slug': questionnaire.slug }) }}" class="btn btn-outline-medium-pink font-weight-bold py-2 px-4">Supprimer vos résultats et recommencer</a>
        </div>
        {# <img src="{{ asset('/shapes/triangle.svg') }}" alt="" style="position: relative; margin-top: 30%; left: -20%; max-width: 10%;"> #}
    </div>

    <div class="col-md-5 p-0 m-0 illustration_div">
        {# <img src="{{ asset('/shapes/circle.svg') }}" alt="" style="position: relative; max-width: 10%; margin-top:-90%; right:-90%;"> #}
        <img src="{{ asset('/shapes/medium_shape_transparent_blue.svg') }}" alt="" class="medium_shape">
        <img src="{{ asset('/illustrations/progress_indicator.svg') }}" alt="" style="position: relative; max-width:100%; margin-top: 25%; left: -12.5%;">
        {# <img src="{{ asset('/shapes/dots.svg') }}" alt="" style="position: relative; max-width: 20%; right: -20%; margin-top: 80%;"> #}
    </div>
</div>