{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Questionnaire {% endblock %}

{% block body %}

    <div class="container-fluid">

        {% if finished is defined and finished == true %}
            {{ include('questionnaire/finished.html.twig') }}
        {% elseif records is defined %}
            {% if records|length < 1%}
                {{ include('questionnaire/not_started.html.twig') }}
            {% else %}
                {{ include('questionnaire/in_progress.html.twig') }}
            {% endif %}
        {% elseif exception is defined and exception is not null %}
            {{ include('questionnaire/error.html.twig') }}
        {% endif %}
        
    </div>

{% endblock %}
