{#
<div class="col-md-11 mx-auto" style="margin-top: 5%;">
    
    {{ include('_alert.html.twig') }}

    <div class="text-center">
        <h2 class="my-4">{{ questionnaire.name }}</h2>
        <span class="text-muted">Pour rappel, toutes les phrases doivent être notées et chacune des 4 notes (0,2,4,6) doit être attribuée au moins une fois.</span>

        <div class="d-flex flex-row justify-content-center mx-auto mt-5 pt-2">
            <a href="{{ path('questionnaire_play', {'id': next.id}) }}" class="btn bg-light-purple font-weight-bold py-2 px-4 text-white">Commencer !</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('questionnaire_fill', {'slug': questionnaire.slug}) }}" class="btn btn-outline-medium-blue font-weight-bold py-2 px-4">
                    Remplir aléatoirement !
                </a>
            {% endif %}
        </div>
    </div>
    
    <div class="d-flex mx-auto justify-content-center">
        <div class="d-flex flex-row justify-content-center align-items-end mb-4" style="bottom: 0px; position: fixed;">
            <img src="{{ asset('/illustrations/teamwork.svg') }}" class="img-fluid" style="max-width: 35%;">
            <img src="{{ asset('/illustrations/work_time.svg') }}" class="img-fluid" style="max-width: 35%;">
        </div>
    </div>
</div>
#}

<div class="d-flex col-md-11 justify-content-between mx-auto" style="margin-top: 5%;">

    {{ include('_alert.html.twig') }}

    <div class="col-md-6 pt-5 medium-gray content_div">
        <h2 class="mb-4">{{ questionnaire.name }}</h2>
        <p class="text-muted">
            Ce questionnaire se développe autour de 6 domaines d’exercice du management : décision, organisation, équipe, coopération, incertitudes, tensions. Evaluez vos façons de faire ACTUELLES en utilisant, pour répondre la grille suivante :
        </p>
        <span class="text-muted">0 = ne me correspond pas du tout</span></br>
        <span class="text-muted">2 = ne correspond que de temps à autre à ce que je fais ou pense</span></br>
        <span class="text-muted">4 = me correspond souvent, c'est souvent ce que je fais ou pense</span></br>
        <span class="text-muted">6 = me correspond tout à fait, c'est tout à fait ce que je fais ou pense</span>
        <p class="mt-2">Attention : toutes les phrases doivent être notées et chacune des 4 notes (0,2,4,6) doit être attribuée au moins une fois.</p>
        <div class="d-flex flex-row justify-content-start mx-auto mt-5">
            <a href="{{ path('questionnaire_play', {'id': next.id}) }}" class="btn bg-light-purple font-weight-bold py-2 px-4 text-white ml-0">Commencer !</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('questionnaire_fill', {'slug': questionnaire.slug}) }}" class="btn btn-outline-medium-blue font-weight-bold py-2 px-4">
                    Remplir aléatoirement !
                </a>
            {% endif %}
        </div>
        {# <img src="{{ asset('/shapes/triangle.svg') }}" alt="" style="position: relative; margin-top: 30%; left: -20%; max-width: 10%;"> #}
    </div>

    <div class="col-md-5 p-0 m-0 illustration_div">
        {# <img src="{{ asset('/shapes/circle.svg') }}" alt="" style="position: relative; max-width: 10%; margin-top:-90%; right:-90%;"> #}
        <img src="{{ asset('/shapes/medium_shape_transparent_blue.svg') }}" alt="" class="medium_shape">
        <img src="{{ asset('/illustrations/runner_start.svg') }}" alt="" style="position: relative; max-width:80%; left: -12.5%;">
        {# <img src="{{ asset('/shapes/dots.svg') }}" alt="" style="position: relative; max-width: 20%; right: -20%; margin-top: 80%;"> #}
    </div>
</div>
