{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - {{ topic.title }} {% endblock %}
{% block navbar %} {% endblock %}
{% block body %}

    <div class="d-flex mb-3 justify-content-end">
        <div class="btn-save bg-light-purple text-white text-center pt-3">
            <a class="text-white" href="{{path('questionnaire_show', {'slug': topic.questionnaire.slug}) }}">Sauvegarder</a>
        </div>
    </div>

    <div class="container-fluid">
        <h3 class="mx-auto text-center medium-blue text-center font-weight-bold mt-4">Questionnaire de bilan managérial</h3>
        <h4 class="mx-auto text-center">{{ topic.title }}</h4>

        <div class="col-md-10 mx-auto mt-5">
            <hr class="mt-3 mb-5">
            
            {{ form_start(form) }}

            <div class="">
                {% set i = 0 %}
                {% for statement in statements %}
                <div class="d-flex justify-content-between align-self-center">
                    <div class="d-flex col-md-10 mb-3 statement2">
                        <p class="p-3 mb-0">{{ statement.content }}</p>
                    </div>  
                    <div class="d-flex col-md-1 mb-3 statement_rate align-items-center text-center">
                        {% if attribute(form, 'record' ~ i ) is defined and attribute(form, 'record' ~ i ) is not null %}
                            {{ form_widget(attribute(form, 'record' ~ i )) }}
                        {% endif %}
                    </div> 
                </div>                  
                    {% set i = i + 1 %}
                {% endfor %}
            </div>       
        </div>
    </div>

    <div class="col-md-9 mt-5 mr-5 ml-auto text-right">
        <span class="text-muted" id="spanSubmitRecords" style='font-size:0.75rem;'>
            Toutes les phrases doivent être notées et chacune des 4 notes (0,2,4,6) doit-être attribuée au moins une fois.
        </span>
    </div>      

    <div class="d-flex mx-5 mb-5 player-footer justify-content-between align-items-center">
        <div class="col-md-9 progressbar ml-5 p-0">
            {% if currentTopic == maxTopic %} {% set percent = 100 %} {% else %} {% set percent = 100 /maxTopic * currentTopic %} {% endif %}
            <div class="d-flex bg-medium-blue" style="width: {{percent}}%!important;"></div>
            <div class="progressbar-endpoint bg-medium-blue p-0" style="margin-left: {{percent - 0.5}}%!important;" data-toggle="tooltip" data-placement="top" title="Thème {{ currentTopic~' sur  '~maxTopic }}"></div>
        </div>
        <button class="btn bg-medium-blue text-white text-center mr-5 font-weight-bold" type="submit" id="submitRecords" disabled>
            SUJET SUIVANT<i class="fas fa-arrow-right ml-2"></i>
        </button>
    </div>

    {{ form_end(form) }}

    
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        window.addEventListener("DOMContentLoaded", (event) => {
            $( "body" ).removeClass( "pt54" );
        });

    </script>
    <script>
        const goodAnswers = ["0","2","4","6"];
        inputs = document.querySelectorAll('input');

        inputs.forEach(input => {
            input.addEventListener('input', () => {
                if (isCorrectlyFill()){
                    $( "#submitRecords" ).removeAttr('disabled');
                    $( "#spanSubmitRecords" ).addClass( "d-none");
                    //console.log('bien rempli');
                }else{
                    $( "#submitRecords" ).attr('disabled', 'true');
                    $( "#spanSubmitRecords" ).removeClass( "d-none" );
                    //console.log('pas bien rempli');
                }
                $( "#"+input.id ).removeClass( "text-muted" );
                $( "#"+input.id ).addClass( "textInput" );
            });
        });

        function isCorrectlyFill(){
            var formResults =[];
            inputs.forEach(input => {
                if(input.type == 'number' && ((goodAnswers.indexOf(input.value) > -1)) ){
                    formResults.push(input.value);
                }
            });

            if (formResults.length == inputs.length -1) {
                for (let i = 0; i < goodAnswers.length; i++) { 
                    //console.log('valeur cherchée : ' +  goodAnswers[i]);

                    if ( !((formResults.indexOf(goodAnswers[i]) > -1)) ){
                        $( "#spanSubmitRecords" ).text("Toutes les phrases doivent être notées et chacune des 4 notes (0,2,4,6), la note "+goodAnswers[i]+" doit-être attribuée au moins une fois.");
                        return false;
                        //console.log('valeur pas trouvée');
                        break;
                    }
                    //console.log('valeur trouvée');
                }
                return true;
            } else {
                //console.log('Toutes les phrases doivent être notées.');
            }
            // if( !(["0","2","4","6"].includes(inputs[i].value)) ) {
        }

    </script>

{% endblock %}